/** variables **/

//** background colors **/
$themeBgColor: #fff;
$themeFgColor: #0c9;

$headerBgColor: #313131;
$footerBgColor: rgba(49, 49, 49, 0.5);

$mapPointerBgColor: rgba(0, 211, 152, 0.5);

$starsCheckedColor: #FFBB00;

//** text colors **//
$headerNavColor: #fff;
$headerNavHoverColor: $themeFgColor;

//** heights **//
$headerHeight: 40px;
$footerHeight: 30px;
